/*smartphone*/ 
@media only screen and (min-width: 412px) {
    .hero-section {
        height: 40vh;
    }
}

/*Tablet*/ 
@media only screen and (min-width:768px) {
    .nav-links {
        display: flex;
    }

    .hero-section {
        height: 70vh;
    }

    .two-column-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .two-column-section div {
        width: 48%;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    .hero-section {
        height: 90vh;
    }
}