/* Font per la pagina */
@font-face {
    font-family: Capriola Regular;
    src: url(../fonts/Capriola-Regular.ttf);
}

@font-face {
    font-family: Ductus Regular;
    src: url(../fonts/DuctusRegular.ttf);
}

/*Page font reset*/
body {
    font-family: Capriola Regular, 'Verdana', sans-serif;
}

.title-font {
    font-family: Ductus Regular, 'Arial', sans-serif;
    font-size: 1.6em;
}

/* css per effetto ritaglio di giornale nella galleria */
.gallery-img {
    max-width: 100%;
    height: auto;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    transition: transform;
    transition-duration: 400ms;
}
.gallery-img:hover {
    transform: scale(1.25);
}

.gallery .col-md-4 {
    position: relative;
}

.gallery .col-md-4:first-child .gallery-img {
    position: absolute;
    right: -20%;
}

.gallery .col-md-4:last-child .gallery-img {
    position: absolute;
    left: -20%;
}
